<html>
	<head>
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<!-- <meta http-equiv="refresh" content="15"> -->
		{% if explorer == 'Safari' %}
		<!-- 引入 jQuery Mobile 样式 -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		{% else %}
		<!-- 引入 jQuery 库 -->
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		{% endif %}
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- 引入 jQuery Mobile 库 -->
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<script>
		function submitForm(){
			//获取form表单对象
			var form = document.getElementById("bookingform");
			form.action = "../refershdoctor/"
			form.submit();//form表单提交
			}
		</script>
		<title>{% block title %}My amazing site{% endblock %}</title>
	</head>
	<body>
		<div>
			<div data-role="navbar">
			    <ul>
					{% if role == '1' %}
					<li><a href="../bookinglist/" {% if hightlight == '1' %}class="ui-btn-active"{% endif %}>预定一览</a></li>
					<li><a href="../membershiplist/" {% if hightlight == '4' %}class="ui-btn-active"{% endif %}>会员管理</a></li>
					<li><a href="../gounpayedlist/" {% if hightlight == '5' %}class="ui-btn-active"{% endif %}>结账</a></li>
					<li><a href="../govacationlist/" {% if hightlight == '10' %}class="ui-btn-active"{% endif %}>休假管理</a></li>
					<li><a href="../gopasswordchange/" {% if hightlight == '11' %}class="ui-btn-active"{% endif %}>密码变更</a></li>
					{% endif %}
					
					{% if role == '2' %}
					<li><a href="../bookinglist/" {% if hightlight == '1' %}class="ui-btn-active"{% endif %}>预定一览</a></li>
					<li><a href="../servicetypelist/" {% if hightlight == '3' %}class="ui-btn-active"{% endif %}>服务项目维护</a></li>
					<li><a href="../goproductlist/" {% if hightlight == '8' %}class="ui-btn-active"{% endif %}>产品维护</a></li>
					<li><a href="../doctorlist/" {% if hightlight == '2' %}class="ui-btn-active"{% endif %}>医生信息维护</a></li>
					<li><a href="../membershiplist/" {% if hightlight == '4' %}class="ui-btn-active"{% endif %}>会员管理</a></li>
					<li><a href="../gounpayedlist/" {% if hightlight == '5' %}class="ui-btn-active"{% endif %}>结账</a></li>
					<li><a href="../gopaymentlist/" {% if hightlight == '6' %}class="ui-btn-active"{% endif %}>收入统计</a></li>
					<li><a href="../govacationlist/" {% if hightlight == '10' %}class="ui-btn-active"{% endif %}>休假管理</a></li>
					<li><a href="../godiscountlist/" {% if hightlight == '7' %}class="ui-btn-active"{% endif %}>折扣信息</a></li>
					<li><a href="../gopaymenttypelist/" {% if hightlight == '9' %}class="ui-btn-active"{% endif %}>支付方式</a></li>
					<li><a href="../gopasswordchange/" {% if hightlight == '11' %}class="ui-btn-active"{% endif %}>密码变更</a></li>
					{% endif %}
					
					{% if role == '9' %}
					<li><a href="../bookinglist/" {% if hightlight == '1' %}class="ui-btn-active"{% endif %}>预定一览</a></li>
					<li><a href="../servicetypelist/" {% if hightlight == '3' %}class="ui-btn-active"{% endif %}>服务项目维护</a></li>
					<li><a href="../goproductlist/" {% if hightlight == '8' %}class="ui-btn-active"{% endif %}>产品维护</a></li>
					<li><a href="../doctorlist/" {% if hightlight == '2' %}class="ui-btn-active"{% endif %}>医生信息维护</a></li>
					<li><a href="../membershiplist/" {% if hightlight == '4' %}class="ui-btn-active"{% endif %}>会员管理</a></li>
					<li><a href="../gounpayedlist/" {% if hightlight == '5' %}class="ui-btn-active"{% endif %}>结账</a></li>
					<li><a href="../gopaymentlist/" {% if hightlight == '6' %}class="ui-btn-active"{% endif %}>收入统计</a></li>
					<li><a href="../govacationlist/" {% if hightlight == '10' %}class="ui-btn-active"{% endif %}>休假管理</a></li>
					<li><a href="../godiscountlist/" {% if hightlight == '7' %}class="ui-btn-active"{% endif %}>折扣信息</a></li>
					<li><a href="../gopaymenttypelist/" {% if hightlight == '9' %}class="ui-btn-active"{% endif %}>支付方式</a></li>
					<li><a href="../gopasswordchange/" {% if hightlight == '11' %}class="ui-btn-active"{% endif %}>密码变更</a></li>
					<li><a href="../gosendmessage/" {% if hightlight == '12' %}class="ui-btn-active"{% endif %}>消息发送</a></li>
					<li><a href="../gomessagelist/" {% if hightlight == '13' %}class="ui-btn-active"{% endif %}>显示信息一览</a></li>
					{% endif %}
				</ul>
			</div><!-- /navbar -->
			{% if hightlight == '1' %}
			<div><hr>
			<ul><li><a href="../booking/">预约</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '2' %}
			<div><hr>
			<ul><li><a href="../doctor/">医生登记</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '3' %}
			<div><hr>
			<ul><li><a href="../servicetype/">服务项目登记</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '4' %}
			<div><hr>
			<ul><li><a href="../membership/">会员注册</a></li></ul>
			<ul><li><a href="../membershipmonthlylist/">月度会员信息汇总</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '5' %}
			<div><hr>
			<ul><li><a href="../goprepayment/">订单作成</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '6' %}
			<div><hr>
			{% if role == '9' %}<ul><li><a href="../goaccounting/">医生对账</a></li></ul>{% endif %}
			<ul><li><a href="../summaryquery/">统计查询</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '7' %}
			<div><hr>
			<ul><li><a href="../godiscount/">打折类型登记</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '8' %}
			<div><hr>
			<ul><li><a href="../goproduct/">产品登记</a></li></ul>
			</div>
			{% endif %}
			{% if hightlight == '9' %}
			<div><hr>
			<ul><li><a href="../gopaymenttype/">支付方式登记</a></li></ul>
			</div>
			{% endif %}
			
			{% if hightlight == '10' %}
			<div><hr>
			<ul><li><a href="../vacationapplication/">休假设置</a></li></ul>
			</div>
			{% endif %}
			
			{% if hightlight == '13' %}
			<div><hr>
			<ul><li><a href="../goaddmessage/">增加信息</a></li></ul>
			</div>
			{% endif %}
			
			<div id="content">
	        {% block content %}{% endblock %}
	    	</div>
	    </div>
	</body>
</html>