<html>
	<head>
		<meta charset="utf-8" /> 
		<meta http-equiv="refresh" content="300" /> 
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	    <title> Book - List </title>
		<!-- 引入 jQuery Mobile 样式 -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<!-- 引入 jQuery 库 -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- 引入 jQuery Mobile 库 -->
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
	</head>
	<body>
		{% if bookingList|length == 0 %}
			<li>There is no booking!</li>
			{{ sql }}
		{% else %}
			<table border="1">
				<tr>
					<td>No.</td>
					<td>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
					<td>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</td>
					<td>会&nbsp;&nbsp;员&nbsp;号</td>
					<td>预约医生</td>
					<td>预约项目</td>
					<td>预约时间</td>
					<td>Completed</td>
					<td>Cancel</td>
				</tr>
				{% for bookingInfo in bookingList %}
					<tr>
						<td>{{ bookingInfo.id }}</td>
						<td>{{ bookingInfo.name }}</td>
						<td>{{ bookingInfo.phonenumber }}</td>
						<td>{{ bookingInfo.membercard }}</td>
						<td>{{ bookingInfo.bookeddoctor }}</td>
						<td>{{ bookingInfo.bookeditem }}</td>
						<td>{{ bookingInfo.bookedtime }}</td>
						<td><a href="../complatedBooking/?id={{ bookingInfo.id }}">Completed</a></td>
					    <td><a href="../cancelBooking/?id={{ bookingInfo.id }}">Cancel</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</body>
</html>