<html>
	<head>
		<meta charset="utf-8" /> 
		<meta http-equiv="refresh" content="300" /> 
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	    <title> Book - List </title>
		<!-- 引入 jQuery Mobile 样式 -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<!-- 引入 jQuery 库 -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- 引入 jQuery Mobile 库 -->
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
	</head>
	<body class="ui-mobile-viewport ui-overlay-a" id="ui-page-top" style="">
		<div data-role="navbar">
		    <ul>
				<li><a href="../bookinglist/" class="ui-btn-active">预定一览</a></li>
				<li><a href="../doctor/">医生信息维护</a></li>
				<li><a href="../servicetype/">服务项目维护</a></li>
				<li><a href="../membership/">会员管理</a></li>
			</ul>
		</div><!-- /navbar -->
		{% if bookingList|length == 0 %}
			<p>There is no booking!</p>
			{{ sql }}
		{% else %}
			<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
				</thead>
					<tr>
						<th>No.</th>
						<th>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</th>
						<th>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</th>
						<th>会&nbsp;&nbsp;员&nbsp;号</th>
						<th>预约医生</th>
						<th>预约项目</th>
						<th>预约时间</th>
						<th>Completed</th>
						<th>Cancel</th>
					</tr>
				</thead>
				{% for bookingInfo in bookingList %}
					<tr>
						<td>{{ bookingInfo.id }}</td>
						<td>{{ bookingInfo.name }}</td>
						<td>{{ bookingInfo.phonenumber }}</td>
						<td>{{ bookingInfo.membercard }}</td>
						<td>{{ bookingInfo.bookeddoctor }}</td>
						<td>{{ bookingInfo.bookeditem }}</td>
						<td>{{ bookingInfo.bookedtime }}</td>
						<td><a href="../complatedBooking/?id={{ bookingInfo.id }}">Completed</a></td>
					    <td><a href="../cancelBooking/?id={{ bookingInfo.id }}">Cancel</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	</body>
</html>