{% extends "admin/base.html" %}
{% block title %}医生信息一览{% endblock %}
{% block content %}
		{% if doctorList|length == 0 %}
			<p>现在没有医生</p>
			{{ sql }}
		{% else %}
			<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
				<thead>
					<tr>
						<th width="10%">员工号</th>
						<th width="10%">姓名</th>
						<!-- <th>排名</th> -->
						<th width="65%">医生简介</th>
						<th width="10%">信息更新</th>
						<th width="5%">删除</th>
					</tr>
				</thead>
				{% for doctorinfo in doctorList %}
					<tr>
						<td>{{ doctorinfo.sn }}</td>
						<td>{{ doctorinfo.doctorname }}</td>
						<!-- <td>{{ doctorinfo.rank }}</td> -->
						<td>{{ doctorinfo.comments }}</td>
					    <td><a href="../doctorupdate/?id={{ doctorinfo.id }}">信息更新</a></td>
					    <td><a href="../dodoctordelete/?id={{ doctorinfo.id }}">删除</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
{% endblock %}