{% extends "admin/base.html" %}
{% block title %}医生信息管理{% endblock %}
{% block content %}
<p>
	<div><form action="../dodoctor/" method="get">
		<div class="ui-field-contain">
		<input type="hidden" name="doctorid" id="doctorid" maxlength="10" value="{{ doctorinfo.id }}">
	   	<label for="doctorname">姓名<b style="color:#FF0000">*</b> : </label>
	   	<input type="text" name="doctorname" id="doctorname" maxlength="10" value="{{ doctorinfo.doctorname }}">
	   	</div>
	      
	    <div class="ui-field-contain">
	   	<label for="phonenumber">电话<b style="color:#FF0000">*</b> : </label>
	   	<input type="text" name="phonenumber" id="phonenumber" maxlength="11" value="{{ doctorinfo.phonenumber }}">
		</div>
	
		<div class="ui-field-contain">
	   	<label for="comments">医生简介 : </label>
		<textarea cols="40" rows="8" name="comments" id="comments" maxlength="500">{{ doctorinfo.comments }}</textarea>
		</div>
		<div class="ui-field-contain">
		<label for="serviceitem">服务项目 : </label>
		<fieldset data-role="controlgroup">
		{% for service in serviceList %}
		    <label><input type="checkbox" name="service{{service.id}}" id="service{{service.id}}" value="{{service.id}}">{{service.servicename}}</label>
		{% endfor %}
		</fieldset>
		</div>
	     <input type="submit" value="OK">
     </form></div>
</p>
{% endblock %}
			
