{% extends "admin/base.html" %}
{% block title %}医生信息管理{% endblock %}
{% block content %}
<p>
	<div><form action="../dodoctor/" method="get">
		<div class="ui-field-contain">
	   	<label for="doctorname">姓名<b style="color:#FF0000">*</b> : </label>
	   	<input type="text" name="doctorname" id="doctorname" size="10" minlength="2" maxlength="10">
	   	</div>
	      
	    <div class="ui-field-contain">
	   	<label for="phonenumber">电话<b style="color:#FF0000">*</b> : </label>
	   	<input type="text" name="phonenumber" id="phonenumber" size="10" minlength="11" maxlength="11">
		</div>
	
		<div class="ui-field-contain">
	   	<label for="webchatid">微信号 : </label>
	   	<input type="text" name="webchatid" id="webchatid" size="10" maxlength="10">
		</div>
	     <input type="submit" value="OK">
     </form></div>
</p>
{% endblock %}
			
