{% extends "admin/base.html" %}
{% block title %}会员管理{% endblock %}
{% block content %}
		    <div>
		    {% if isMessages == 'OK' %}
		    <b style="color:#FF0000">当前的手机号已经注册，请使用新手机号注册。</b>
		    {% endif %}
		    <form action="../domembership/" method="get">
			    <div class="ui-field-contain">
			    	<input type="hidden" name="operation" id="operation" value="{{ flag }}">
			    	<label for="vipno">会员号<b style="color:#FF0000">*</b> : </label>
			    	{% if flag == 'U' or flag == 'M' %}
			    	<input type="hidden" name="vipid" id="vipid" value="{{ membership.id }}">
			    	{{ membership.vipno }}
			    	<input type="hidden" name="vipno" id="vipno" size="10" maxlength="10" value="{{ membership.vipno }}">
			    	{% else %}
			    	<input type="text" name="vipno" id="vipno" size="10" maxlength="10">
			    	{% endif %}
			    </div>
			    <div class="ui-field-contain">
			    	<label for="vipname">会员姓名<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="vipname" id="vipname" size="10" maxlength="10" value="{{ membership.vipname }}" {% if flag == 'M' %}disabled{% endif %}>
			    </div>
			    <!-- <div class="ui-field-contain">
			    	<label for="vipnameid">身份证<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="vipnameid" id="vipnameid" size="10" maxlength="18" value="{{ membership.vipnameid }}" {% if flag != 'A' %}disabled{% endif %}>
			    </div> -->
			    <div class="ui-field-contain">	
			    	<label for="phonenumber">手机号<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="phonenumber" id="phonenumber" size="10" maxlength="11" value="{{ membership.phonenumber }}" {% if flag == 'M' %}disabled{% endif %}>
			    </div>
			    <div class="ui-field-contain">	
			    	<label for="discountrate">会员折扣<b style="color:#FF0000">*</b> : </label>
			    	<select name="discountrate" id="discountrate" {% if flag == 'M' %}disabled{% endif %}>
			    	{% for servicerate in serviceRateList %}
			    		<option value="{{ servicerate.id }}" {% if membership.discounttype == servicerate.id %}selected{% endif %}>{{ servicerate.ratename }}</option>
			    	{% endfor %}
					</select>
				</div>
				{% if flag == 'M' %}
				<div class="ui-field-contain">	
			    	<label for="paymenttype">支付方式<b style="color:#FF0000">*</b> : </label>
			    	<select name="paymenttype" id="paymenttype">
			    		{% for paymentType in paymentTypeList %}
					    <option value="{{ paymentType.paymenttype }}">{{ paymentType.paymenttypename }}</option>
						{% endfor %}
					</select>
				</div>
				
				<div class="ui-field-contain">	
			    	<label for="amount">充值金额<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="amount" id="amount" size="10" maxlength="10">
				</div>
				{% endif %}
		        <input type="submit" value="OK">
		    </form>
		    </div>
{% endblock %}