{% extends "admin/base.html" %}
{% block title %}会员管理{% endblock %}
{% block content %}
		    <div><form action="../domembership/" method="get">
			    <div class="ui-field-contain">
			    	<label for="vipno">会员号 ：<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="vipno" id="vipno" size="10" maxlength="10">
			    </div>
			    <div class="ui-field-contain">
			    	<label for="vipname">会员姓名 ：<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="vipname" id="vipname" size="10" maxlength="10">
			    </div>
			    <div class="ui-field-contain">	
			    	<label for="phonenumber">会员电话 ：<b style="color:#FF0000">*</b> : </label>
			    	<input type="text" name="phonenumber" id="phonenumber" size="10" maxlength="10">
			    </div>
			    <div class="ui-field-contain">	
			    	<label for="discountrate">会员折扣 ：<b style="color:#FF0000">*</b> : </label>
			    	<select name="discountrate" id="discountrate">
			    		<option value="0.5">钻石</option>
			    		<option value="0.7">金星</option>
						<option value="0.8">银星</option>
					</select>
				</div>

		        <input type="submit" value="OK">
		    </form></div>
{% endblock %}