{% extends "admin/base.html" %}
{% block title %}结账{% endblock %}
{% block content %}

{% if isMessage|length == 2 %}
	<p style="color:#FF0000">会员（{{ membership.vipname }}{{ membership.vipno }}）余额不足(余额为：{{ membership.amount }})，结账失败，请充值后，重新结账！</p>
{% else %}
<p>
	<b style="color:#FF0000">结账完成，详细信息如下：</b>
	<div>
		<div class="ui-field-contain">
	   	<label for="paymenttype">结账方式 : </label>
	   	{% if paymenttype == '01'%}<label>现金支付</label>{% endif %}
	   	{% if paymenttype == '02'%}<label>会员卡支付</label>{% endif %}
	   	{% if paymenttype == '03'%}<label>微信支付</label>{% endif %}
	   	{% if paymenttype == '04'%}<label>刷卡支付</label>{% endif %}
	   	{% if paymenttype == '05'%}<label>支付宝支付</label>{% endif %}
	   	</div>
	
		{% if membership %}
		<div class="ui-field-contain">
	   	<label>会员姓名 : </label><label>{{ membership.vipname }}</label>
		</div>
		
	   	<div class="ui-field-contain">
	   	<label for="vipno">会员卡号 : </label><label>{{ membership.vipno }}</label>
	   	</div>
	   	{% endif %}
	      
	    <div class="ui-field-contain">
	   	<label for="doctor">服务医生 : </label><label>{{ doctorInfo.doctorname }}</label>
		</div>
	
		<div class="ui-field-contain">
	   	<label for="servicetype">服务项目 : </label><label>{{ service.servicename }}</label>
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicerate">单价 : </label><label>{{ service.servicerate }}</label>
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicediscount">折扣 : </label><label>{{ servicediscount }}</label>
		</div>
		
		<div class="ui-field-contain">
	   	<label for="amount">实收金额 : </label><label>{{ amount }}</label>
		</div>
     </div>
</p>
{% endif %}
{% endblock %}
			
