{% extends "admin/base.html" %}
{% block title %}预定信息一览{% endblock %}
{% block content %}
<div>
	<div><form action="../querypaymentlist/" method="get">
		<div class="ui-field-contain">
	   	<label for="querydate">日期 : </label>
	   	<select name="querydate" id="querydate" data-mini="true" data-inline="true">
		    {% for optionDay in dayList %}
				<option value="{{ optionDay }}">{{ optionDay }}</option>
			{% endfor %}
		</select>
		</div>
		
		<div class="ui-field-contain">
	   	<label for="doctorid">医生 : </label>
	   	<select name="doctorid" id="doctorid" data-mini="true" data-inline="true">
	   		<option value="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
			{% for doctor in doctrList %}
				<option value="{{ doctor.id }}">{{ doctor.doctorname }}</option>
			{% endfor %}
		</select>
		<input class="ui-btn ui-btn-inline" type="submit" value="查询" data-mini="true" data-inline="true">
	   	</div>
		
     </form></div>
	<div>
	{% if paymentList|length == 0 %}
		<p>今天到目前为止，没有结账记录！</p>
	{% else %}
		<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th>No.</th>
					<th>结账方式</th>
					<th>会员姓名</th>
					<th>会员号</th>
					<th>医生</th>
					<th>服务项目</th>
					<th>产品项目</th>
					<th>金额</th>
					<th>日期</th>
				</tr>
			</thead>
			{% for payment in paymentList %}
				<tr>
					<td>{{ payment.id }}</td>
				   	<td>{{ payment.paymenttypename }}</td>
					<td>{{ payment.vipname }}</td>
					<td>{{ payment.vipno }}</td>
					<td>{{ payment.doctorname }}</td>
					<td>{{ payment.servicename }}</td>
					<td>{{ payment.productname }}</td>
					<td>{{ payment.amount }}</td>
					<td>{{ payment.paymentdate }}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
	</div>
</div>
{% endblock %}