{% extends "admin/base.html" %}
{% block title %}结账{% endblock %}
{% block content %}
<p>
	{% if isMessage|length == 2 %}
		<p style="color:#FF0000">会员卡号不存在，请确认后重新输入。</p>
	{% endif %}
		
	<div><form action="../doprepayment/" method="get">
		<div class="ui-field-contain">
	   	<label for="paymenttype">结账方式<b style="color:#FF0000">*</b> : </label>
	   	<select name="paymenttype" id="paymenttype">
		    <option value="01">现金结账</option>
			<option value="02">会员卡结账</option>
			<option value="03">微信支付</option>
			<option value="04">刷卡支付</option>
			<option value="05">支付宝支付</option>
		</select>
	   	</div>
	
		<div class="ui-field-contain">
	   	<label for="phonenumber">手机号 : </label>
	   	<input type="text" name="phonenumber" id="phonenumber" size="10" maxlength="11">
	   	</div>
	      
	    <div class="ui-field-contain">
	   	<label for="doctor">服务医生<b style="color:#FF0000">*</b> : </label>
	   	<select name="doctor" id="doctor">
		    <!-- <option value="0"></option> -->
			{% for doctor in doctorList %}
				<option value="{{ doctor.id }}">{{ doctor.doctorname }}</option>
			{% endfor %}
		</select>
		</div>
	
		<div class="ui-field-contain">
	   	<label for="servicetype">服务项目<b style="color:#FF0000">*</b> : </label>
	   	<select name="servicetype" id="servicetype">
		    <!-- <option value="0"></option> -->
			{% for servicetype in servicetypeList %}
				<option value="{{ servicetype.id }}">{{ servicetype.servicename }}</option>
			{% endfor %}
		</select>
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicerate">单价 : </label>
	   	<input type="text" name="servicerate" id="servicerate" size="10" maxlength="50">
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicediscount">折扣 : </label>
	   	<select name="servicediscount" id="servicediscount">
	   		<option value="1.0">没有折扣</option>
		    {% for servicerate in serviceRateList %}
	    	<option value="{{ servicerate.rate }}">{{ servicerate.ratename }}</option>
	    	{% endfor %}
		</select>
		</div>
		
	     <input type="submit" value="计算">
     </form></div>
</p>
{% endblock %}
			
