{% extends "admin/base.html" %}
{% block title %}结账{% endblock %}
{% block content %}
<p>
	<div><form action="../dopayment/" method="get">
		<div class="ui-field-contain">
	   	<label for="paymenttype">结账方式 : </label><label>{% if paymenttype == '01'%}现金结账{% else %}会员卡结账{% endif %}</label>
	   	<input type="hidden" name="paymenttype" id="paymenttype" size="10" value="{{ paymenttype }}">
	   	</div>
	
		{% if membership %}
		<div class="ui-field-contain">
	   	<label>会员姓名 : </label><label>{{ membership.vipname }}</label>
		</div>
		{% endif %}
		
	   	{% if paymenttype == '02'%}
	   	<div class="ui-field-contain">
	   	<label for="vipno">会员卡号 : </label><label>{{ vipno }}</label>
	   	</div>
	   	{% endif %}
	   	<input type="hidden" name="membershipid" id="membershipid" size="10" value="{{ membership.id }}">
	   	
	      
	    <div class="ui-field-contain">
	   	<label for="doctor">服务医生 : </label><label>{{ doctorInfo.doctorname }}</label>
	   	<input type="hidden" name="doctor" id="doctor" size="10" value="{{ doctor }}">
		</div>
	
		<div class="ui-field-contain">
	   	<label for="servicetype">服务项目 : </label><label>{{ service.servicename }}</label>
	   	<input type="hidden" name="servicetype" id="servicetype" size="10" value="{{ servicetype }}">
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicerate">单价 : </label><label>{{ servicerate }}</label>
	   	<input type="hidden" name="servicerate" id="servicerate" size="10" value="{{ servicerate }}">
		</div>
		
		<div class="ui-field-contain">
	   	<label for="servicediscount">折扣 : </label><label>{{ servicediscount }}</label>
	   	<input type="hidden" name="servicediscount" id="servicediscount" size="10" value="{{ servicediscount }}">
		</div>
		
		<div class="ui-field-contain">
	   	<label for="amount">应收金额<b style="color:#FF0000">*</b> : </label>
	   	<input type="text" name="amount" id="amount" size="10" maxlength="11" value="{{ amount }}">
		</div>
		
		<center>
	     	<button type="submit" class="ui-btn ui-btn-inline">结账</button>
	     	<button type="button" class="ui-btn ui-btn-inline" onclick="javascript:history.go(-1)">返回</button>
	     </center>
     </form></div>
</p>
{% endblock %}
			
