{% extends "admin/base.html" %}
{% block title %}产品一览{% endblock %}
{% block content %}
		{% if productList|length == 0 %}
			<p>现在没有定义服务项目。</p>
		{% else %}
			<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
				</thead>
					<tr>
						<th>No.</th>
						<th>产品名称</th>
						<th>价格</th>
						<!-- <th>更新</th> -->
						<th>删除</th>
					</tr>
				</thead>
				{% for product in productList %}
					<tr>
						<td>{{ product.id }}</td>
						<td>{{ product.productname }}</td>
						<td>{{ product.productprice }}</td>
					    <!-- <td><a href="../＃/?id={{ product }}">更新</a></td> -->
					    <td><a href="../deleteproduct/?id={{ product.id }}">删除</a></td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
{% endblock %}