{% extends "admin/base.html" %}
{% block title %}服务项目管理{% endblock %}
{% block content %}
			<p>
			    <div><form action="../doservicetype/" method="get">
				    <div class="ui-field-contain">
				    	<input type="hidden" name="serviceid" id="serviceid" size="10" minlength="2" maxlength="20" value="{{ service.id }}">
				    	<label for="servicename">项目名<b style="color:#FF0000">*</b> : </label>
				    	<input type="text" name="servicename" id="servicename" size="10" minlength="2" maxlength="20" {% if service.id !=0 %} value="{{ service.servicename }}" {% endif %}>
					</div>
			        
			        <div class="ui-field-contain">
				    	<label for="servicerate">单价<b style="color:#FF0000">*</b> : </label>
				    	<input type="text" name="servicerate" id="servicerate" size="10" minlength="11" maxlength="10" {% if service.id !=0 %} value="{{ service.servicerate }}"  {% endif %}>
					</div>

			        <input type="submit" value="OK">
			    </form></div>
		    </p>
{% endblock %}