{% extends "admin/base.html" %}
{% block title %}服务项目管理{% endblock %}
{% block content %}
			<p>
			    <div><form action="../doservicetype/" method="get">
				    <div class="ui-field-contain">
				    	<input type="hidden" name="serviceid" id="serviceid" size="10" minlength="2" maxlength="20" value="{{ service.id }}">
				    	<label for="servicename">项目名<b style="color:#FF0000">*</b> : </label>
				    	<input type="text" name="servicename" id="servicename" size="10" minlength="2" maxlength="20" value="{{ service.servicename }}">
					</div>
			        
			        <div class="ui-field-contain">
				    	<label for="servicerate">单价<b style="color:#FF0000">*</b> : </label>
				    	<input type="text" name="servicerate" id="servicerate" size="10" minlength="11" maxlength="10" value="{{ service.servicerate }}">
					</div>
					
					<div class="ui-field-contain">
				    	<label for="serviceperiod">持续时长（分钟）<b style="color:#FF0000">*</b> : </label>
				    	<input type="text" name="serviceperiod" id="serviceperiod" size="10" maxlength="10" value="{{ service.serviceperiod }}">
					</div>

			        <input type="submit" value="确定">
			    </form></div>
		    </p>
{% endblock %}