<html>
<head>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>预约</title>
    <!-- 引入 jQuery Mobile 样式 -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<!-- 引入 jQuery 库 -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
	<div>
		{% if bookingList|length == 0 %}
			<p>没有未处理的预约!</p>
		{% else %}
			<p style="color:#FF0000">您的预约信息如下，请准时到店消费，如果取消请至少提前1小时。</p>
			<table data-role="table" id="table-column-toggle" data-mode="columntoggle" class="ui-responsive table-stroke">
				<thead>
					<tr>
						<th>No.</th>
						<th>预约医生</th>
						<th>预约项目</th>
						<th>预约时间</th>
						<th>预约取消</th>
					</tr>
				</thead>
				{% for bookingInfo in bookingList %}
					<tr>
						<td>{{ bookingInfo.id }}</td>
						<td>{{ bookingInfo.doctorname }}</td>
						<td>{{ bookingInfo.servicename }}</td>
						<td>{{ bookingInfo.bookedtime }}</td>
					    <td>{% if bookingInfo.cancelFlag == 'OK' %}<a href="../cancelbooking/?id={{ bookingInfo.id }}">取消</a>{% endif %}</td>
					</tr>
				{% endfor %}
			</table>
		{% endif %}
	<div>
</body>
</html>