<html>
<head>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>预约</title>
    <!-- 引入 jQuery Mobile 样式 -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<!-- 引入 jQuery 库 -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
	<div>
		{% if isMessage|length == 2 %}
			<div class="ui-field-contain"><span style="color:#FF0000">您有如下预约未消费，请先消费或取消后，重新预约！</span></div>
		{% else %}
			<div class="ui-field-contain">您的预约内容如下，请准时到诊所就诊:</div>
		{% endif %}
		<div class="ui-field-contain">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名 : {{ name }}</div>
		<div class="ui-field-contain">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话 : {{ phonenumber }}</div>
		<div class="ui-field-contain">会&nbsp;&nbsp;员&nbsp;号 : {{ membercard }}</div>
		<div class="ui-field-contain">预约医生 : {{ bookeddoctor }}</div>
		<div class="ui-field-contain">预约项目 : {{ bookeditem }}</div>
		<div class="ui-field-contain">预约时间 : {{ bookedtime }}</div>
		{% if cancelFlag == 'OK' %}
		<div class="ui-field-contain"><a href="../cancelbooking/?id={{ bookingId }}">取消预约</a></div>
		{% else %}
		<div class="ui-field-contain"><span style="color:#FF0000">预约时间临近，不能取消。如有问题请致电0411-54555316咨询。</span></div>
		{% endif %}
		{% if paymentFlag == 'OK' %}
		<!-- <div class="ui-field-contain"><a href="../prepayment/?openId={{ openId }}">自助结账</a></div> -->
		{% endif %}
	<div>
</body>
</html>