<html>
<head>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>预约指南</title>
    <!-- 引入 jQuery Mobile 样式 -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<!-- 引入 jQuery 库 -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
	<div>预约指南：第一步进入会员中心，点击预约，会员请输入办卡时的会员姓名及电话，非会员直接输入电话号码。第二步选择按摩师：通常出现的是默认技师，点击一下就可以选择其他按摩师。第三步选择服务项目：出现的同样是默认的第一个，点击选择其他的服务项目即可。第四步选择预约日期：如上，可预约当天日期及之后七天。第五步选择预约时间：预约时间通常出现的是离现在最近的一个时间，点击一下之后出现的在预约表上能看到的时间就是你可以预约的时间。第六步完成以上操作后，点击提交，收到预约成功提示后本次预约完成。温馨提示：一、预约成功后出现因故来不了的情况，请在我的预约中取消预约，但是取消预约要在你预约时间之前至少1小时。二、如果发现因故到不了的时间短于预约时间1小时之内，请拨打电话与前台联系。三、如果出现因故到不了而又位于诊所沟通联络的情况，诊所将实行对你所预约的项目全额扣款备注：如果不明白某个服务项目是什么意思，请将该服务项目的文字编辑到文本栏项，朋友聊天一样发送到公众平台，平台就会发送回与该项目有关的信息了。</div>
</body>
</html>