<html>
<head>
	<meta charset="utf-8" /> 
    <title>Booking</title>
    <!-- 引入 jQuery Mobile 样式 -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<!-- 引入 jQuery 库 -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
	<p>
	<div>
	<div class="ui-field-contain"><label><font size=18>您的会员信息如下:</font></label></div>
	<div class="ui-field-contain"><label><font size=18>姓名 : {{ membership.vipname }}</font></label></div>
	<div class="ui-field-contain"><label><font size=18>电话 : {{ membership.phonenumber }}</font></label></div>
	<div class="ui-field-contain"><label><font size=18>会员号 : {{ membership.vipno }}</font></label></div>
	<div class="ui-field-contain"><label><font size=18>会员折扣 : {{ membership.discountrate }}</font></label></div>
	<div class="ui-field-contain"><label><font size=18>余额 : {{ membership.amount }}</font></label></div>
	</div>
	</p>
</body>
</html>