<html>
<head>
	<meta charset="utf-8" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Membership</title>
    <!-- 引入 jQuery Mobile 样式 -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
	<!-- 引入 jQuery 库 -->
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 引入 jQuery Mobile 库 -->
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
	<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
</head>
<body>
	<div>
	{% if messages == 'BINDED' %}
	<div class="ui-field-contain" style="color:#FF0000">您所输入的会员，已经被绑定，如有问题请致电0411-54555316咨询。</div>
	{% else %}
	<div class="ui-field-contain">您的会员信息如下:</div>
	<div class="ui-field-contain">姓名 : {{ membership.vipname }}</div>
	<div class="ui-field-contain">电话 : {{ membership.phonenumber }}</div>
	<div class="ui-field-contain">会员号 : {{ membership.vipno }}</div>
	<div class="ui-field-contain">会员折扣 : {{ membership.discountrate }}</div>
	<div class="ui-field-contain">余额 : {{ membership.amount }}</div>
	{% endif %}
	</div>
</body>
</html>