<html>
	<head>
		<meta charset="utf-8" /> 
		<meta name="viewport" content="width=device-width,initial-scale=1" />
	    <title> Login </title>
	    
		<!-- 引入 jQuery Mobile 样式 -->
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<!-- 引入 jQuery 库 -->
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<!-- 引入 jQuery Mobile 库 -->
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		
	</head>
	<body>
		{% if messages == 'OK' %}
			<p style="color:#FF0000">会员卡号或者手机号码错误，请检查后，重新输入。</p>
		{% endif %}
	    <form action="../bindMembership/" method="get">
	        会员卡号 : <input type="text" name="vipno" size="10" maxlength="11">
	        手机号码 : <input type="text" name="phonenumber" size="10" maxlength="11">
	        <input type="hidden" name="openId" size="10" maxlength="10" value="{{ openId }}">
	        <center>
		        <button class="ui-btn ui-btn-inline" type="submit">绑定</button>
		        <button class="ui-btn ui-btn-inline" type="reset">取消</button>
	        </center>
	    </form>
	</body>
</html>